@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Go Pro";
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}

<h2>@ViewBag.Title!</h2>
<h6>Go pro for only $12/year ($1/month).</h6>
<h4>By going Pro, you will have access to these features:</h4>
<ul>
    <li>All your converted files are stored for easy retrieval.</li>
    <li>You can upload files directly from your Dropbox account.</li>
	<li>No ads!</li>
    <li>Easy export to Strava.</li>
    <li>Easy export to Runkeeper.</li>
</ul>
<small>More features will be added over time, feel free to send suggestions to <a href="mailto:polarconverter@gmail.com">me.</a></small><br />
<small>Support for export to Endomondo and Garmin Connect are not available at this time due to lack of open API (Endomondo) and high cost for API access (Garmin Connect).</small>
<hr />
<h3>Register with external providers:</h3>
    @using (Html.BeginForm("ExternalLogin", "Account"))
    {
    @Html.AntiForgeryToken()
    <div id="socialLoginList">
        <p>
            @Html.ActionLink("Strava", "RegisterWithStrava", null, new { @class = "btn btn-provider btn-strava", title = "Log in using your Strava account" })
            @Html.ActionLink("Runkeeper", "LoginRunkeeper", null, new { @class = "btn btn-provider btn-runkeeper", title = "Log in using your Runkeeper account" })
            <button type="submit" class="btn btn-provider btn-facebook" id="Facebook" name="provider" value="Facebook" title="Log in using your Facebook account">Facebook</button>
            <button type="submit" class="btn btn-provider btn-twitter" id="Twitter" name="provider" value="Twitter" title="Log in using your Twitter account">Twitter</button>
            @*<button type="submit" class="btn btn-provider btn-google" id="Google" name="provider" value="Google" title="Log in using your Google account">Google</button>*@
        </p>
    </div>
    }
<hr />
<h3>Or register with a local account:</h3>
    @Html.ActionLink("Register", "RegisterUser", new { providerType = PolarConverter.DAL.Models.ProviderType.Local }, new { @class = "btn btn-primary", title = "Register with a local account" })
